.font-raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.text-primary{
    color: #4E47FF;
}
.bg-secondary{
    background-color: rgba(78, 71, 255, 0.1);
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
}
.text-center{
    text-align: center;
}
/* Header Styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    height: 698px;
    width: 100%;
}
/* Navbar Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: 800;
}
/* Banner Styles */
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-top: 150px;
}
/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 115px;
    margin-bottom: 115px;
}
/* Action Styles */
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-content{
    max-width: 515px;
}
.action-title{
    font-size: 35px;
    font-weight: bold;
}
.action-description{
    font-size: 18px;
    color: rgba(37, 36, 50, 0.5);
}
.action-img{
    max-width: 400px;
    border-radius: 45px;
}
/* Users Styles */
.users{
    border-radius: 24px;
    padding: 50px 80px;
}
.users-section-title{
    font-size: 38px;
    font-weight: bold;
}
.users-stats{
    display: flex;
    justify-content: space-around;
}
.user-number{
    font-size: 50px;
    font-weight: bold;
}
.user-description{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}