.font-raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
}
.text-center{
    text-align: center;
}
/* Header Styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    height: 698px;
    width: 100%;
}
/* Navbar Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: 800;
}
/* Banner Styles */
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-top: 150px;
}